<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jdagnogo.alertlebonsoinappart">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        tools:ignore="AllowBackup"
        android:name=".AlertLEboncoinApplication"
        android:icon="@drawable/appart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ResultActivity">

        </activity>
        <activity android:name=".activities.AppartDetailedActivity">

        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NewSearchActivity">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4a6b6987d026a7b7318429694ed37d841db6282c"
            />
    </application>

</manifest>